{% extends "headfoot.html" %}

{% block title %}Account Page{% endblock %}

{% load static %}

{% block content %}


<div class="md:mt-12 mt-6 mb-12 md:mb-24 ">

    <div class="md:ml-20 ml-4">
        <p class="text-md font-medium "><a href="{% url 'home' %}" class="text-[#00158B] underline">Home</a><span class="mx-2"> > </span>My Account</p>
    </div>

    <div class="mx-4 md:mx-20 animate-fade-up my-8">
        
            

        <span class="md:ml-12 ml-4 text-[40px] text-[#141E61] md:text-[clamp(34px,4vw,45px)]">My Account</span>

        {% block akun_content %}
        {% endblock %}

        

    </div>

</div>


{% endblock %}