{% extends "admin_base.html" %}

{% load static %}

{% block akun_content %}
<title>Current Activity</title>
<div class="flex flex-row mt-4">
            <div>
                <a href="#" class="focus:outline-none text-white bg-[#141E61] focus:ring-2 font-medium rounded-2xl md:text-md text-sm md:px-8 px-2 py-2 shadow-md me-2 mb-2 transition-all ease-in duration-300">Current Reservation</a>
            </div>
            <div>
                <a href="{% url 'adminmonitoring' %}" class="focus:outline-none text-[#141E61] bg-white hover:bg-[#141E61] hover:text-white focus:ring-2 font-medium rounded-2xl md:text-md text-sm md:px-8 px-2 py-2 shadow-md me-2 mb-2 transition-all ease-in duration-300">Park Monitoring</a>
            </div>
            <div>
                <a href="{% url 'adminreservation' %}" class="focus:outline-none text-[#141E61] bg-white hover:bg-[#141E61] hover:text-white focus:ring-2 font-medium rounded-2xl md:text-md text-sm md:px-8 px-2 py-2 shadow-md me-2 mb-2 transition-all ease-in duration-300">All Reservations</a>
            </div>
        </div>

        <div class="mt-4 bg-white rounded-2xl animate-fade-up">

            <div class="md:px-12 px-8 pt-8 md:pt-12">
                    <span class="text-[30px] text-[#141E61] underline md:text-[clamp(15px,4vw,34px)]">Current Activity</span>
            </div>

            <!-- Park -->
            <div id="slot1" class="flex justify-center">
                <div class="mx-2 my-4 border border-4 border-[#141E61] rounded-lg shadow-[0_5px_5px_rgba(0,0,0,0.2)]">

                <div class=" grid grid-cols-4 ">

                        <!-- Slot 1 -->
                    <div >
                        <div class="flex justify-center md:my-2 my-1">
                            <p class="md:text-md text-sm text-[#141E61] font-semibold">Slot 1</p>
                        </div>
                        <div class=" py-8 justify-center items-center flex bg-[#8a1616] rounded-2xl mx-3">

                            <a href="#slot1" class="md:px-6" data-modal-target="popup-modal1" data-modal-toggle="popup-modal1">
                                <img src="{% static 'main/car1.png' %}" alt="" class=" block w-20 md:w-28 h-auto transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75">
                            </a>
                        </div>
                        <div class="items-center flex justify-center py-2">
                            <p class="text-md text-[#8a1616] font-semibold">Occupied</p>
                        </div>
                    </div>

                        <!-- Slot 2 -->
                    <div>
                        <div class="flex justify-center md:my-2 my-1">
                            <p class="md:text-md text-sm text-[#141E61] font-semibold">Slot 2</p>
                        </div>
                        <div class="py-8 justify-center items-center flex bg-[#afd106] rounded-2xl mx-3">

                            <a href="#slot2" class="md:px-6" data-modal-target="popup-modal2" data-modal-toggle="popup-modal2">
                                <img src="{% static 'main/car2.png' %}" alt="" class="block w-20 md:w-28 h-auto transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75">
                            </a>
                        </div>
                        <div class="items-center flex justify-center py-2">
                            <p class="text-md text-[#afd106] font-semibold">Reserved</p>
                        </div>
                    </div>

                    <!-- Slot 3 -->
                <div>
                    <div class="flex justify-center md:my-2 my-1">
                            <p class="md:text-md text-sm text-[#141E61] font-semibold">Slot 3</p>
                        </div>
                    <div class="py-8 justify-center  flex bg-[#018214] rounded-2xl mx-3">
                        <a href="#slot3" class="md:px-6" >
                            <img src="{% static 'main/car3.png' %}" alt="" class=" block w-20 md:w-28 h-auto transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75">
                        </a>
                    </div>
                    <div class="flex justify-center py-2">
                            <p class="text-md text-[#018214] font-semibold">Available</p>
                    </div>
                </div>

                    <!-- Slot 4 -->
                <div>
                    <div class="flex justify-center md:my-2 my-1">
                            <p class="md:text-md text-sm text-[#141E61] font-semibold">Slot 4</p>
                        </div>
                    <div class="py-8 justify-center items-center flex bg-[#018214] rounded-2xl mx-3">
                        <a href="#slot4" class="md:px-6" >
                            <img src="{% static 'main/car4.png' %}" alt="" class="block w-20 md:w-28 h-auto transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75">
                        </a>
                    </div>
                    <div class="items-center flex justify-center py-2">
                            <p class="text-md text-[#018214] font-semibold">Available</p>
                    </div>
                </div>
            </div>

            </div>
            </div>

            <!-- slot1 -->
            <div id="slot2" class=" px-8 md:px-12 pb-8">
                <span class="text-[30px] text-[#141E61] underline md:text-[clamp(15px,4vw,33px)]">Slot 1</span>

                <div class=" rounded-2xl border border-gray-400 md:flex md:flex-row md:justify-between items-center">
                    <div class="m-4">
                        <p class="md:text-2xl text-xl text-gray-900">Status:</p>
                        <p class="md:text-2xl text-xl text-gray-900">username: Whathepark</p>
                        <p class="md:text-2xl text-xl text-gray-900">Time: 07:00 - 11:00</p>
                    </div>            
                </div>
            </div>

            <!-- slot2 -->
            <div id="slot3" class=" px-8 md:px-12 pb-8">
                <span class="text-[30px] text-[#141E61] underline md:text-[clamp(15px,4vw,33px)]">Slot 2</span>

                <div class=" rounded-2xl border border-gray-400 items-center">
                    <div class="m-4">
                        <p class="md:text-2xl text-xl text-gray-900">Status:</p>
                        <p class="md:text-2xl text-xl text-gray-900">username: Whathepark</p>
                        <p class="md:text-2xl text-xl text-gray-900">Time: 07:00 - 11:00</p>
                        <p class="md:text-2xl text-xl text-gray-900">Actions:</p>
                    </div>            
                    <div class="flex mb-2 justify-center">
                    <a href="{% url 'adminreservation' %}" class="text-blue-700 underline">See All Reservations.</a>
                </div>
                </div>
                
            </div>

            <!-- slot3 -->
            <div id="slot4" class=" px-8 md:px-12 pb-8">
                <span class="text-[30px] text-[#141E61] underline md:text-[clamp(15px,4vw,33px)]">Slot 3</span>

                <div class=" rounded-2xl border border-gray-400 md:flex md:flex-row md:justify-between items-center">
                    <div class="m-4">
                        <p class="md:text-2xl text-xl text-gray-900">Status:</p>
                        <p class="md:text-2xl text-xl text-gray-900">username: Whathepark</p>
                        <p class="md:text-2xl text-xl text-gray-900">Time: 07:00 - 11:00</p>
                        <p class="md:text-2xl text-xl text-gray-900">Actions:</p>
                    </div>            
                </div>
            </div>

            <!-- slot4 -->
            <div id="slot5" class=" px-8 md:px-12 pb-8">
                <span class="text-[30px] text-[#141E61] underline md:text-[clamp(15px,4vw,33px)]">Slot 4</span>

                <div class=" rounded-2xl border border-gray-400 md:flex md:flex-row md:justify-between items-center">
                    <div class="m-4">
                        <p class="md:text-2xl text-xl text-gray-900">Status:</p>
                        <p class="md:text-2xl text-xl text-gray-900">username: Whathepark</p>
                        <p class="md:text-2xl text-xl text-gray-900">Time: 07:00 - 11:00</p>
                        <p class="md:text-2xl text-xl text-gray-900">Actions:</p>
                    </div>            
                </div>
            </div>
            

        </div>
{% endblock %}
            