{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="{% static 'main/iconweb.ico' %}" type="image/x-icon">

  <!-- Tailwind + Flowbite CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet" />

  <style>
    body {
      font-family: 'Istok Web', sans-serif;
      background: #f2f2f2;
    }
  </style>
</head>
<body>

  <nav class=" bg-[#141E61] fixed w-full z-20 top-0 start-0 border-b border-gray-200 ">
    <div class="max-w-screen flex flex-wrap items-center justify-between mx-8 p-3">
      <a href="{% url 'home' %}" class="items-center space-x-3 md:ml-6">
        <img src="{% static 'main/LogoTeks.png' %}" class="md:w-[165px] w-[140px]" alt="">
      </a>
    <div class="flex md:order-1 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button data-collapse-toggle="navbar-sticky" type="button" class=" inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2" id="navbar-sticky">
      <ul class="md:flex md:items-center flex-col p-4 md:p-0 mt-4 md:font-sans md:font-semibold border border-gray-100 rounded-lg bg-gray-50 md:space-x-12 md:flex-row md:mt-0 md:border-0 md:bg-[#141E61]">

        <li class="order-1 md:order-3">
          <a href="{% url 'account' %}" class="block transition-all ease-in duration-300  md:flex md:items-center md:ml-14 block py-2 px-3 hover:bg-gray-400 w-full hover:text-white text-gray-900 rounded-lg  md:text-white md:hover:bg-transparent md:hover:text-gray-500 md:p-0">
            <span class="capitalize">My Account</span>
            <img src="{% static 'main/man.png' %}" alt="" class="hidden hover:transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75 md:block md:rounded-full md:w-10 h-10 md:mx-4">
          </a>
        </li>

        <li class="order-2 md:order-2">
          <a href="#" class="block transition-all ease-in duration-300 py-2 px-3 text-gray-900 hover:bg-gray-400 hover:text-white rounded-lg md:text-white md:hover:bg-transparent md:hover:text-gray-500 md:p-0">
            About Us
          </a>
        </li>

        <li class="order-3 md:order-1">
          <a href="#" class="block transition-all ease-in duration-300 py-2 px-3 text-gray-900 hover:bg-gray-400 hover:text-white md:mr-4 rounded-lg md:text-white md:hover:bg-transparent md:hover:text-gray-500 md:p-0 ">
            Contact Us
          </a>
        </li>
      
      </ul>
      
    </div>
    </div>
  </nav>
  

  <!-- PAGE CONTENT -->
  <div class="pt-20 md:pt-12"> <!-- Add top padding to avoid nav overlap -->
    {% block content %}
    {% endblock %}
  </div>



  <!-- Icon Contact Us -->
<div class="md:mb-8 mb-4">
    
<div class="flex justify-center md:me-6 mb-4">
    <p class="text-sm text-gray-500">Contact Us :</p>
</div>

<div class=" flex  justify-center">
    <a href="#" class="px-5 py-2.5 md:me-6 mb-2">
      <img src="{% static 'main/Whats-App.png' %}" class="shadow-xl rounded-full md:w-[60px] w-[50px] hover:transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75" alt="">
    </a>
    <a href="#" class="px-5 py-2.5 md:me-6 mb-2">
      <img src="{% static 'main/Facebook.png' %}" class="shadow-xl rounded-full md:w-[60px] w-[50px] hover:transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75" alt="">
    </a>
    <a href="#" class="px-5 py-2.5 md:me-6 mb-2">
      <img src="{% static 'main/social.png' %}" class="shadow-xl rounded-full md:w-[60px] w-[50px] hover:transition duration-300 ease-in-out transform hover:scale-110 hover:brightness-75" alt="">
    </a>
</div>
    
    
</div>

<footer class="w-full bg-[#141E61] shadow-sm">
    <div class="w-full max-w-screen-xl mx-auto p-4 py-12">
        <div class="flex items-center justify-center">
            <a href="{% url 'home' %}" class=" items-center mb-4 space-x-3 rtl:space-x-reverse">
                <img src="{% static 'main/Logo1.png' %}" class="md:w-[165px] w-[150px]" alt="">
            </a>
        </div>
        
        <span class="text-white block text-sm text-gray-500 text-center">© 2025 <a href="#" class="hover:underline">Teams</a>. All Rights Reserved.</span>
    </div>
</footer>

  <!-- Flowbite JS -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  <script src="{% static 'app.js' %}"></script>
</body>
</html>
